.Border{
    width:5px
}
.MuiInputBase-fullWidth{
    width:fit-content
}
.RememberMe-ForgotPassword{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 26px;
    font-size: larger;
    font-weight: 500;
}
.SignUp-Text-Paragraph{
    font-size: x-large;
    width: max-content;
    margin-left: -22px;
    color: aliceblue;
    margin-top: -2vh;
}

#margin-top-button{
  color: white;
  height: 45px ;
}
#margin-top-button2{
color: white;
border: 1px solid;
border-radius: 15px;
margin: auto;
margin-top: -19px;
}

.Text{
    
    margin-left: 15px;
    font-size: large;
    font-weight: 600;
}
